<h3>Create</h3>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address">
  </mat-form-field>

  <!-- <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>